body{
	background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.es%2Fvector-premium%2Ffondo-espacio-horizontal-nebulosa-realista_13371895.htm&psig=AOvVaw3oi0rJt5-c4VRh7WsSmLEp&ust=1653508744784000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCNDD5rb2-PcCFQAAAAAdAAAAABA6);
	width: 5500px;
	height:5000px;
}

h1{
	color: white;
}

p{
	color: white;
}